{% extends "base_admin.html" %}

{% block hd-extra %}
    {{ f.media }}
{% endblock %}

{% block main %}
<p style="float:right;"><a href="/admin/product/">返回产品中心</a></p>
<h1>产品中心 / {% if tid %}产品信息修改{% else %}产品发布{% endif %}</h1>
<div style="margin:10px 0;border-top: 2px dashed #ccc; padding-top:10px;">
    <form action="" method="post">{% csrf_token %}
        <div>
            {{ f.non_field_errors }}
            {{ f.s_name.errors }}
            {{ f.s_name }}
        </div>

        <div>
            {{ f.s_intr.errors }}
            {{ f.s_intr }}
        </div>
        <div>
            {{ f.s_link_buy.errors }}
            <label>购买链接：</label>{{ f.s_link_buy }}
        </div>
        <div>
            {{ f.f_category.errors }}
            <label>分类：</label>{{ f.f_category }}
        </div>
        <div>
            {{ f.i_price.errors }}
            <label>价格：</label>{{ f.i_price }}
        </div>

        <p><input type="submit" value="提交" /></p>
    </form>
</div>
{% endblock %}
