<!DOCTYPE HTML>
<html lang="zh-CN" xml:lang="zh-CN" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>文昌书院</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script language="javascript" src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var msg = $("#messages");
            var container_width = $(".admin-main").width()
            if(msg){
                msg.css("left", (container_width-msg.width())/2+"px");
                msg.fadeIn("slow");
                setTimeout(function() {
                        msg.fadeOut("slow");
                    }, 5000);
            };
            {% block js-ready %}{% endblock %}
        });
    </script>
    {% block hd-extra %}{% endblock %}
    {% block blockbots %}<meta http-equiv="content-type" content="text/html; charset=utf-8" />{% endblock %}
</head>
<body>
    <div class="admin-header">
        <div class="header-top">
            <div id="logo"></div>
            <div class="top-nav">
                <a href="/">返回首页</a>
            </div>
        </div>
    </div>
    <div class="admin-main">
        {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }} <a href="#" onclick="$('#messages').fadeOut('slow');">×</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="admin-nav">
            <ul>
                <li><a href="/admin/">后台首页</a></li>
                <li><a href="/admin/news/">新闻中心</a></li>
                <li><a href="/admin/products/">产品展示</a></li>
                <li><a href="/admin/company/">公司简介</a></li>
                <li><a href="/admin/hire/">人事招聘</a></li>
                <li><a href="/admin/contact/">联系我们</a></li>
            </ul>
        </div>
        <div class="admin-content">
            {% block main %}
            {% endblock %}
        </div>
        <div class="extra"></div>
    </div>
</body>
