<!DOCTYPE HTML>
<html lang="zh-CN" xml:lang="zh-CN" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>文昌书院</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <script language="javascript" src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var msg = $("#messages");
            var container_width = $(".wrapper").width()
            if(msg){
                msg.css("left", (container_width-msg.width())/2+"px");
                msg.fadeIn("slow");
                setTimeout(function() {
                        msg.fadeOut("slow");
                    }, 5000);
            };
            {% block js-ready %}{% endblock %}
        });
    </script>
    {% block hd-extra %}{% endblock %}
    {% block blockbots %}<meta http-equiv="content-type" content="text/html; charset=utf-8" />{% endblock %}
</head>
<body>
    <div class="header">
        <div class="header-top">
            <div id="logo"></div>
            <div class="top-nav">
                <a href="/">HOME</a> |
                <a href="/sitmap/">SITMAP</a> |
                <a href="/shop/">SHOP</a>
            </div>
        </div>
        <div class="header-main"></div>
        <div class="header-nav">
            <a href="/">网站首页</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a href="/news/">新闻中心</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a href="/product/">产品展示</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a href="/company/">公司简介</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a href="/hire/">人事招聘</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a href="/search/">站内搜索</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a href="/contact/">联系我们</a>
      </div>
    </div>
    <div class="main">
        {% if messages %}
        <ul id="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }} <a href="#" onclick="$('#messages').fadeOut('slow');">×</a></li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="search">
            <span style="font-size:14px;color:#68000E;font-weight:bold;">产品搜索：</span>
            <input type="search" style="width:200px;">
            <input type="submit" value="搜索">
        </div>
        {% block main %}
        {% endblock %}
        <div class="extra"></div>
    </div>
    <div id="footer">
        <p>
            <span style="float:left;">版权所有 © 2012 文昌书院, all rights reserved</span>
            <span style="float:right;">
                <a href="/help/">网站地图</a> |
                <a href="/help/">招聘信息</a> |
                <a href="/help/">意见建议</a> |
                <a href="/help/">合作伙伴</a>
            </span>
        </p>
    </div>
</body>
