{% extends "base.html" %}

{% block main %}
<div class="content">
    <div class="title-news">
        <div class="title-content">
            <ul>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
            </ul>
        </div>
    </div>
    <div class="title-products">
        <div class="title-content">
            <ul>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
            </ul>
        </div>
    </div>
    <div class="title-company">
        <div class="title-content">
            <ul>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
            </ul>
        </div>
    </div>
    <div class="title-contact">
        <div class="title-content">
            <ul>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
                <li><a href="">中国文人画 ------------------ 2012-12-01</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

